# AWS Bedrock
AWS_ACCESS_KEY  = "your-aws-access-key"
AWS_SECRET_KEY  = "your-aws-secret-key"
KB_ID           = "your-knowledge-base-id"
REGION          = "us-east-1"

# ThaiLLM API
THAILLM_API_KEY = "your-thaillm-api-key"
